
# DEPLOY DIST TO GITHUB PAGES
name: Deploy Dist to GitHub Pages

on:
  push:
    branches: [ deploy ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          ref: ''
          token: ${{ github.token }}
          show-progress: true

      - name: Build Source
        run: ./scripts/build.sh

      
    




